<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.8/index.global.min.js"></script>
    <script src="/libs/recurrences.js" defer></script>

    <style>
        body {
            margin: 0;
            padding: 0;
        }

        .container {
            display: flex;
            width: 100%;
            height: 100vh;
            overflow-y: hidden;
        }

        /* Sidebar styles */
        .sidebar {
            position: relative;
            width: 15%;
            background: linear-gradient(90deg, #5D54A4, #7C78B8);
            padding: 20px;
            height: 100vh;
            overflow-y: auto;
        }

        .selected {
            font-weight: bold;
            background-color: #eee;
            border-radius: 10px;
            padding: 5px;
        }

        .sidebar-header {
            height: 4%;
        }

        #toggleSidebar {
            position: absolute;
            top: 10px;
            right: 10px;
            background: none;
            border: none;
            font-size: 20px;
            cursor: pointer;
        }


        .sidebar-collapsed {
            width: 50px !important;
            overflow: hidden;
        }

        #createCalendarBtn {
            display: block;
            background-color: #4285f4;
            color: #fff;
            border: none;
            padding: 10px 20px;
            margin-bottom: 20px;
            cursor: pointer;
            border-radius: 5px;
            font-size: 16px;
        }

        #createCalendarBtn:hover {
            background-color: #357ab8;
        }

        .sidebar.hide-content .sidebar-content {
            display: none;
        }

        .sidebar-userAllCalendars {
            display: flex;
            flex-direction: column;
            gap: 15px;
            list-style-type: none;
            padding: 0;
            margin: 0;
        }


        /* Calendar styles */

        .calendar-header {
            display : flex;
            flex-direction: column;
            border-bottom: 1px solid #ddd;
            height: 115px;
            padding : 5px;
            background: linear-gradient(90deg, #7C78B8, #5D54A4);

        }
        .calendar-header__form {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            width: 100%;
        }
        .calendar-header__form input[type="text"] {
            width: 40%;
            height: 35px;
            border-radius : 10px;
            padding : 5px;
        }


        .calendar-container {
            width: 85%;
            overflow-y: auto;
            height: calc(100vh - 60px);
        }

        .calendar-message {
            display: none;
            padding: 15px;
            width: 80%;
            height: 25px;
            border-radius: 5px;
        }

        .customCalendars {
            padding: 20px;
        }


        #calendar {
            max-width: 100%;
            margin: 0 auto;
        }


        /* Modal styles */
        .modal {
            display: none;
            position: fixed;
            z-index: 1;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            overflow: auto;
            background-color: rgba(0, 0, 0, 0.4);
            z-index: 1000;
        }

        .modal-content {
            display: flex;
            flex-direction: column;
            background-color: #fefefe;
            margin: 3% auto;
            padding: 30px;
            border: 1px solid #888;
            width: 65%;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            border-radius: 8px;
            font-size: 18px;

        }

        .modal-content label {
            display: block;
            margin-bottom: 10px;
            margin-top: 20px;
            flex-shrink: 0;
            /* Empêche le rétrécissement des labels */
        }

        .modal-content input[type="text"],
        .modal-content input[type="datetime-local"],
        .modal-content textarea {
            width: 100%;
            padding: 10px;
            margin-top: 5px;
            border: 1px solid #ccc;
            border-radius: 4px;
            font-size: 16px;
            flex-grow: 1;
            /* Permet à l'input de prendre tout l'espace disponible */
        }

        .modal-content input[type="submit"] {
            padding: 10px 20px;
            background-color: #4285f4;
            color: white;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            font-size: 16px;
            margin-top: 20px;
        }

        .modal-content input[type="submit"]:hover {
            background-color: #357ab8;
        }

        /* Flexbox pour les éléments du formulaire */
        .eventFormModal>div {
            display: flex;
            align-items: center;
            width: 100%;
        }

        .btnRemoveCalendar {
            background-color: #e73232;
            padding: 10px;
            border-radius: 15px;
        }

        /* Pour les champs date */
        .eventFormModal>div:nth-child(4) {
            flex-direction: row;
        }

        .eventFormModal>div:nth-child(4)>div {
            display: flex;
            width: 100%;
        }

        .eventModel__frequency {
            display: flex;
            flex-direction: column;
        }

        .eventModel__frequency span {
            display: flex;
            flex-direction: row;
        }


        .close-btn {
            color: #aaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
            cursor: pointer;
        }

        .close-btn:hover,
        .close-btn:focus {
            color: black;
            text-decoration: none;
            cursor: pointer;
        }

        /***** MODAL SETTINGS *****/
        .calendarAssociated {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            width: 100%;
        }

        .calendarAssociated__selected {
            width: 49%;
        }

        .calendarAssociated__add {
            width: 49%;
        }

        .calendarAssociated__list {
            display: flex;
            flex-direction: column;
            border: 1px solid black;
            width: 100%;
            height: 150px;
            overflow-y: scroll;
            gap: 5px;
            list-style-type: none;
            margin: 0;
            padding: 0;
        }

        .calendarAssociated__selected li {
            background: #f1f1f1;
        }

        .recurrence-options {
            display: none;
        }

        .hidden {
            display: none;
        }

        #dropdownMenu {
            position: absolute;
            background-color: #f9f9f9;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
            z-index: 1;
        }

        /* Tooltip container */
        .tooltip {
            position: relative;
            display: inline-block;
            border-bottom: 1px dotted black;
            /* If you want dots under the hoverable text */
        }

        /* Tooltip text */
        .tooltip .tooltiptext {
            visibility: hidden;
            width: 120px;
            background-color: black;
            color: #fff;
            text-align: center;
            padding: 5px 0;
            border-radius: 6px;

            /* Position the tooltip text - see examples below! */
            position: absolute;
            z-index: 1;
        }

        /* Show the tooltip text when you mouse over the tooltip container */
        .tooltip:hover .tooltiptext {
            visibility: visible;
        }
    </style>
</head>

<body>
    <div class="container">
        <div class="sidebar">
            <div class="sidebar-header">
                <button id="toggleSidebar">☰</button>
            </div>
            <div class="sidebar-content">
                <button id="createCalendarBtn">Dashboard</button>
                <div id="miniCalendar"></div>
                <h3>My Calendars</h3>
                <ul id="userAllCalendars" class="sidebar-userAllCalendars">
                </ul>
            </div>
        </div>
        <div class="calendar-container">
            <div class="calendar-message" id="message"></div>

            <div class="calendar-header">
                <form method="post" id="form-calendar-temporary" class="calendar-header__form">
                    <label>Add temporary calendar</label>
                    <input type="text" id="calendar-temporary" name="calendar-temporary" placeholder="Url of temporary calendar" class="calendar-header__form-input">
                    <input type="submit" value="Add">
                </form>
                <div id="calendar-follow">
                    <button onclick="subscribeCalendar()" id="calendar-follow-button">Follow</button>
                    <button onclick="unsubscribeCalendar()" id="calendar-unfollow-button">Unfollow</button>
                </div>
            </div>
            <div id="calendar-nav">
                <button onclick="changeView('dayGridMonth')">Month</button>
                <button onclick="changeView('timeGridWeek')">Week</button>
                <button onclick="changeView('timeGridDay')">Day</button>
            </div>

           
            <div id='calendar' class="customCalendars"></div>
            <div>
                <div id="exportCalendar" class="tooltip"><span id="exportCalendarText">copy export calendar</span>
                    <span class="tooltiptext">Click to copy export link</span>
                </div>
            </div>
        </div>
    </div>


    <div class="modal" id="eventModal">
        <div class="modal-content">
            <span class="close-btn" onclick="closeModal()">&times;</span>
            <h2>Edit Event</h2>
            <form id="eventForm" class="eventFormModal">
                <div>
                    <input type="hidden" id="calendarId" name="calendarId" disabled>
                    <input type="hidden" id="eventId" name="eventId" disabled>
                </div>
                <div>
                    <label for="summary">Summary:</label>
                    <input type="text" id="summary" name="summary">
                </div>
                <div>
                    <div>
                        <label for="startDate">Start Date:</label>
                        <input type="datetime-local" id="startDate" name="startDate">
                    </div>
                    <div>
                        <label for="endDate">End Date:</label>
                        <input type="datetime-local" id="endDate" name="endDate">
                    </div>
                </div>

                <div class="eventModel__frequency">
                    <fieldset for="frequency">
                        <legend>Frequency</legend>
                        <div id="recurrence-settings">
                            <label for="recurrence-type">Récurrence:</label>
                            <select id="recurrence-type" onchange="handleRecurrenceTypeChange()">
                                <option value="none">Jamais</option>
                                <option value="daily">Quotidienne</option>
                                <option value="weekly">Hebdomadaire</option>
                                <option value="workdays">Chaque jour ouvrable</option>
                                <option value="bi-weekly">Toutes les deux semaines</option>
                                <option value="monthly">Mensuelle</option>
                                <option value="yearly">Annuelle</option>
                                <option value="custom">Personnalisé</option>
                            </select>

                            <div id="end-date-container" style="display: none;">
                                <label for="end-date">Jusqu'à:</label>
                                <input type="date" id="end-date" onchange="handleEndDateChange()" />
                            </div>

                            <div id="daily-options" class="recurrence-options">
                                Chaque <input type="number" id="interval" value="1" min="1" /> jour(s)
                                <input type="radio" id="everyDay" name="daily"> Chaque jour
                                <input type="radio" id="everyWeekDay" name="daily"> Chaque jour ouvrable
                            </div>

                            <div id="weekly-options" class="recurrence-options">
                                Chaque <input type="number" id="interval" value="1" min="1" /> semaine(s)
                                <div>
                                    <input type="checkbox" id="monday" value="MO"> Lundi
                                    <input type="checkbox" id="tuesday" value="TU"> Mardi
                                    <input type="checkbox" id="wednesday" value="WE"> Mercredi
                                    <input type="checkbox" id="thursday" value="TH"> Jeudi
                                    <input type="checkbox" id="friday" value="FR"> Vendredi
                                    <input type="checkbox" id="saturday" value="SA"> Samedi
                                    <input type="checkbox" id="sunday" value="SU"> Dimanche
                                </div>
                            </div>

                            <div id="monthly-options" class="recurrence-options">
                                Chaque <input type="number" id="interval" value="1" min="1" /> mois
                                <input type="radio" id="byweekday" name="monthly">
                                <select id="weekday-in-month">
                                    <option value="0">Chaque</option>
                                    <option value="1">premier</option>
                                    <option value="2">deuxième</option>
                                    <option value="3">troisième</option>
                                    <option value="4">quatrième</option>
                                    <option value="-1">dernier</option>
                                </select>
                                <select id="weekday">
                                    <option value="MO">Lundi</option>
                                    <option value="TU">Mardi</option>
                                    <option value="WE">Mercredi</option>
                                    <option value="TH">Jeudi</option>
                                    <option value="FR">Vendredi</option>
                                    <option value="SA">Samedi</option>
                                    <option value="SU">Dimanche</option>
                                </select>
                                <input type="radio" id="bymonthday" name="monthly"> Se répète le(s) jour(s)
                                <input type="text" id="monthdays" />
                                jusqu'au
                                <input type="date" id="monthEndDate" onchange="handleEndDateChange()" />

                            </div>

                            <div id="yearly-options" class="recurrence-options">
                                Pendant <input type="number" id="interval" value="1" min="1" /> année(s)
                                <input type="radio" id="byYearWeekDay" name="yearly">
                                <select id="weekdayInYear">
                                    <option value="0">chaque</option>
                                    <option value="1">premier</option>
                                    <option vlaue="2">deuxième</option>
                                    <option value="3">troisième</option>
                                    <option value="4">quatrième</option>
                                    <option value="-1">dernier</option>
                                </select>
                                <select id="weekday">
                                    <option value="MO">Lundi</option>
                                    <option value="TU">Mardi</option>
                                    <option value="WE">Mercredi</option>
                                    <option value="TH">Jeudi</option>
                                    <option value="FR">Vendredi</option>
                                    <option value="SA">Samedi</option>
                                    <option value="SU">Dimanche</option>
                                </select>
                                de <select id="month">
                                    <option value="1">Janvier</option>
                                    <option value="2">Février</option>
                                    <option value="3">Mars</option>
                                    <option value="4">Avril</option>
                                    <option value="5">Mai</option>
                                    <option value="6">Juin</option>
                                    <option value="7">Juillet</option>
                                    <option value="8">Août</option>
                                    <option value="9">Septembre</option>
                                    <option value="10">Octobre</option>
                                    <option value="11">Novembre</option>
                                    <option value="12">Décembre</option>
                                </select>

                            </div>
                        </div>
                    </fieldset>
                </div>
                <div>
                    <label for="description">Description:</label>
                    <textarea id="description" name="description"></textarea>
                </div>

                <div>
                    <label for="location">Location :</label>
                    <input type="text" id="location" name="location">
                </div>

                <div>
                    <label for="eventCalendarSelection">Sélectionner des calendriers :</label>
                    <select id="eventCalendarSelection" name="eventCalendarSelection" multiple>
                        <option selected>Default</option>
                    </select>
                </div>
                <div>
                    <input type="submit" value="Update Event">
                </div>
            </form>
        </div>
    </div>

    <div class="modal" id="settingsModal">
        <div class="modal-content" id="settingsModalContent">
            <span class="close-btn" onclick="closeModalSettings()">&times;</span>

            <form method="POST" enctype="application/x-www-form-urlencoded" id="calendarSettings">
                <label>Calendar name :</label><input type="text" name="name" />
                <label>Calendar color :</label><input type="color" name="color" value="#ffffff" />
                <label>Calendar link :</label><input type="text" name="link" />
                <label>Synchronisation : </label><select name="synchronisation">
                    <option value="*/1 * * * *">1 minute</option>
                    <option value="*/5 * * * *">5 minutes</option>
                    <option value="*/15 * * * *">15 minutes</option>
                    <option value="*/30 * * * *">30 minutes</option>
                    <option value="0 */3 * * *">3 hours</option>
                    <option value="0 */12 * * *">12 hours</option>
                    <option value="0 0 * * *">24 hours</option>
                    <option value="0">Never</option>
                </select>
                <label>Calendar visible :</label><select name="class">
                    <option value="PUBLIC">Public</option>
                    <option value="PRIVATE">Private</option>
                </select>
                <div class="calendarAssociated">
                    <div class="calendarAssociated__selected">
                        <label>Calendar associated : </label>
                        <ul id="calendarAssociated" class="calendarAssociated__list">

                        </ul>
                    </div>
                    <div class="calendarAssociated__add">
                        <label>Available calendars : </label>
                        <ul class="calendarAssociated__list" id="calendarAssociated__addNew">

                        </ul>
                    </div>
                </div>
                <input type="submit" value="Submit" />
            </form>

            <div id="divRemoveCalendar">
                <button id="btnRemoveCalendar" class="btnRemoveCalendar">Remove calendar</button>
            </div>
        </div>
    </div>
</body>


<script>

    let fullCalendar;
    let userCalendar
    let currentCalendar
    let currentIndexCalendar = 0;
    let temporaryCalendar = [];
    let user;
    let events
    let divError
    const DOUBLE_CLICK_DELAY = 300;
    let clickTimer = null;


    document.getElementById('form-calendar-temporary').addEventListener('submit', async (event) => {
        event.preventDefault();
        const formCalendarTemporary = document.getElementById('form-calendar-temporary');
        const inputCalendarTemporary = document.getElementById('calendar-temporary');

        const response = await fetch(`/api/v1/calendar/temporary`, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({ url: inputCalendarTemporary.value })
        })
            .then(response => response.json())
            .then(data => {
                temporaryCalendar.push(data);
                temporaryCalendar[0].events.map(event => {
                    console.log(event)
                    fullCalendar.addEvent({
                        title: event.summary,
                        start: event.start,
                        end: event.end,
                        description: event.description,
                        backgroundColor: '#378006',
                        borderColor: '#378006',
                        editable: false
                    })
                });
            })
            .catch(error => {
                console.error(error);
                showErrorMessage(error)
            });
        formCalendarTemporary.reset();
    })

    document.addEventListener('DOMContentLoaded', () => {
        if (localStorage.getItem('token') === null) {
            window.location.href = '/';
        }

        user = <%- JSON.stringify(user) %>;
        userAllCalendars = <%- JSON.stringify(calendars) %>;

        currentCalendar = userAllCalendars[currentIndexCalendar];
        events = getAllEventsFromCalendars(currentCalendar)

        loadUserCalendarList();
        selectUserCalendarInList();

        fullCalendar = initializeCalendar(events, userAllCalendars.id);
        divError = document.getElementById('message');

        document.getElementById('createCalendarBtn').addEventListener('click', () => {
            window.location.href = `/users/${user.username}/dashboard`;
        });
        document.getElementById('toggleSidebar').addEventListener('click', toggleSidebar);

        document.getElementById('exportCalendar').addEventListener('click', async () => {
            try {
                await navigator.clipboard.writeText(`http://localhost:3000/calendars/${currentCalendar.id}`);
                console.log('Content copied to clipboard');
            } catch (err) {
                console.error('Failed to copy: ', err);
            }
        })

    });

    const loadUserCalendarList = () => {

        if (userAllCalendars.length <= 0) {
            const li = document.createElement('li');
            li.textContent = 'No Calendar Found';
            document.getElementById('userAllCalendars').appendChild(li);
            return;
        }
        userAllCalendars.forEach(calendar => {
            const li = document.createElement('li');
            const a = document.createElement('a');
            const img = document.createElement('img');
            const imgShared = document.createElement('img');
            if (calendar.right === 'READ') {
                img.src = '/images/cadenas.png';
                img.style.width = '20px';
                img.style.height = '20px';
                a.appendChild(img);
            }

            if (calendar.type === 'SHARED') {
                imgShared.src = '/images/shared.png';
                imgShared.style.width = '20px';
                imgShared.style.height = '20px';
                a.appendChild(imgShared);
            }

            a.href = `/users/${user.username}/calendars/${calendar.id}`;
            li.textContent = calendar.name;
            const btn = document.createElement('button');
            btn.textContent = " Edit";

            if (calendar.children && calendar.children.length > 0) {
                li.textContent += " child : ";
                calendar.children.forEach(children => {
                    li.textContent += children.name + " ";
                })
            }

            li.addEventListener('click', (element) => {
                currentCalendar = calendar;
                currentIndexCalendar = userAllCalendars.indexOf(calendar);
                selectUserCalendarInList();

                events = getAllEventsFromCalendars(currentCalendar)
                fullCalendar = initializeCalendar(events, userAllCalendars.id);
            });

            btn.addEventListener('click', () => {
                openModalSettings(calendar)
            })

            li.appendChild(btn);
            li.appendChild(a);
            document.getElementById('userAllCalendars').appendChild(li);
        });
    }

    const selectUserCalendarInList = () => {
        if (currentCalendar === undefined) {
            return;
        }

        document.querySelectorAll('.selected').forEach(element => {
            element.style.backgroundColor = 'initial';
            element.style.color = 'initial';
            element.classList.remove('selected')
        })
        document.getElementById('userAllCalendars').children[currentIndexCalendar].classList.add('selected');
        if (currentCalendar.color === '#000000')
            document.getElementById('userAllCalendars').children[currentIndexCalendar].style.color = '#ffffff';
        document.getElementById('userAllCalendars').children[currentIndexCalendar].style.backgroundColor = currentCalendar.color;
    }

    const getAllEventsFromCalendars = (calendar) => {
        let allEvents = [];

        // Ajouter les événements du calendrier actuel
        if (calendar && calendar.events) {
            allEvents = allEvents.concat(
                calendar.events.map(event => ({ ...event, calendarColor: calendar.color }))
            );
        }

        // Si le calendrier a des enfants, les traiter récursivement
        if (calendar && calendar.children) {
            for (const child of calendar.children) {
                allEvents = allEvents.concat(getAllEventsFromCalendars(child));
            }
        }

        return allEvents;
    };

    document.getElementById('eventForm').addEventListener('submit', async (data) => {
        data.preventDefault();

        const eventIdInput = document.getElementById('eventId').value;
        const calendarIdInput = document.getElementById('calendarId').value;
        const summaryInput = document.getElementById('summary').value;
        const startDateInput = document.getElementById('startDate').value;
        const endDateInput = document.getElementById('endDate').value;
        const descriptionInput = document.getElementById('description').value;
        const locationInput = document.getElementById('location').value;

        const selectElement = document.getElementById('eventCalendarSelection');
        const selectedOptions = Array.from(selectElement.selectedOptions);
        const selectedCalendarIds = selectedOptions.map(option => option.value).filter(value => value !== 'Default');

        if (new Date(startDateInput) >= new Date(endDateInput)) {
            console.log("La date de début doit être inférieure à la date de fin !");
        }

        if (doesEventOverlap(startDateInput, endDateInput)) {
            console.log("Un événement existe déjà pour cette plage horaire!");
        }

        const event = {
            eventId: eventIdInput,
            calendarId: calendarIdInput || currentCalendar.id,
            summary: summaryInput,
            startDate: startDateInput,
            endDate: endDateInput,
            description: descriptionInput,
            location: locationInput,
            recurrence: handleRecurrenceOptionsChange(),
            selectedCalendar: selectedCalendarIds,
        };

        await fetch(`/api/v1/calendar/${currentCalendar.id}`, {
            method: 'PUT',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify(event),
        })
            .then(response => response.json())
            .then(data => {
                closeModal();
                if (data.error) {
                    throw new Error(data.error);
                }
                showErrorMessage(data.message, 'success')
            })
            .catch(error => {
                showErrorMessage(error)
            });
    });

    document.addEventListener('keydown', (event) => {
        if (event.key === 'Escape') {
            closeModal();
            closeModalSettings();
        }
    });

    const populateCalendarDropdown = () => {
        // Effacer les options existantes
        const selectElement = document.getElementById('eventCalendarSelection');

        while (selectElement.firstChild) {
            selectElement.removeChild(selectElement.firstChild);
        }

        // Ajouter l'option par défaut
        let defaultOption = document.createElement('option');
        defaultOption.value = 'Default';
        defaultOption.text = 'all calendars';
        defaultOption.selected = true;
        selectElement.appendChild(defaultOption);

        if (currentCalendar && currentCalendar.type === 'SHARED') {
            currentCalendar.children.forEach(child => {
                let option = document.createElement('option');
                option.value = child.id;
                option.text = child.name;
                selectElement.appendChild(option);
            });
        }
    }

    const changeView = (viewName) => {
        fullCalendar.changeView(viewName);
        localStorage.setItem('lastCalendarView', viewName);
    };

    const formatDateToDatetimeLocal = date => {
        const pad = num => {
            const norm = Math.floor(Math.abs(num));
            return (norm < 10 ? '0' : '') + norm;
        };

        return `${date.getFullYear()}-${pad(date.getMonth() + 1)}-${pad(date.getDate())}T${pad(date.getHours())}:${pad(date.getMinutes())}`;
    };

    const toggleSidebar = () => {
        const sidebar = document.querySelector('.sidebar');
        const calendarContainer = document.querySelector('.calendar-container');

        if (sidebar.classList.contains('sidebar-collapsed')) {
            sidebar.classList.remove('sidebar-collapsed', 'hide-content');
            calendarContainer.style.width = '80%';
        } else {
            sidebar.classList.add('sidebar-collapsed', 'hide-content');
            calendarContainer.style.width = 'calc(100% - 50px)';
        }
    };

    const updateEvent = async (info) => {
        try {
            const updatedData = {
                id: info.event.id,
                start: info.event.start.toISOString(),
                end: info.event.end.toISOString(),
                summary: info.event.title,
                description: info.event.description,
                location: info.event.location
            };

            const response = await fetch(`/api/v1/calendar/${info.event.extendedProps.calendarId}`, {
                method: 'PUT',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(updatedData)
            });

            if (!response.ok) {
                const data = await response.json();
                throw new Error(data.error);
            }

        }
        catch (error) {
            console.error(error);
            showErrorMessage(error)
            info.revert();
        }
    };

    const getAllCalendars = async () => {
        const response = await fetch(`/api/v1/calendars`, {
            method: 'GET',
            headers: {
                'Content-Type': 'application/json'
            }
        })
        const data = await response.json();
        return data;
    }
    //model for setting
    const openModalSettings = async (calendar) => {

        const modal = document.getElementById('settingsModal');
        const formSettings = document.getElementById('calendarSettings');
        const calendarAssociated = document.getElementById('calendarAssociated');
        const calendarAssociated_addNew = document.getElementById('calendarAssociated__addNew');
        const modalSettingsContent = document.getElementById('settingsModalContent');
        const btnRemoveCalendar = document.getElementById('btnRemoveCalendar');
        console.log(btnRemoveCalendar)

        if (calendar.type !== 'SHARED') {
            const formImportEvent = document.createElement('form');
            const inputImportEvent = document.createElement('input');
            inputImportEvent.type = 'file';
            inputImportEvent.id = 'updateFileEvent';
            inputImportEvent.name = 'updateFileEvent';
            inputImportEvent.accept = '.ics';

            inputImportEvent.addEventListener('change', async (e) => {
                if (confirm('Do you really want to import this file ?')) {
                    const file = e.target.files[0];
                    const formData = new FormData();
                    formData.append('file', file);

                    const response = await fetch(`/users/${user.id}/calendars/${calendar.id}/import`, {
                        method: 'POST',
                        body: formData
                    })
                        .then(response => response.json())
                        .then(data => {
                            showErrorMessage(data.message, 'success');
                            closeModalSettings();
                        })
                        .catch(error => {
                            console.error(error);
                            showErrorMessage(error)
                        });
                }
            });

            modalSettingsContent.insertBefore(formImportEvent, formSettings);
            formImportEvent.appendChild(inputImportEvent);
        }
        let allCalendars = await getAllCalendars();

        let calendarChildren = calendar.children.map(children => children.id)

        if (calendar) {
            formSettings.name.value = calendar.name;
            formSettings.color.value = calendar.color;
            if (calendar.url) {
                formSettings.link.value = calendar.url;
                formSettings.synchronisation.value = calendar.syncExpressionCron;

            } else {
                formSettings.link.disabled = true;
                formSettings.synchronisation.value = 0;
                formSettings.synchronisation.disabled = true;
            }
            formSettings.link.value = calendar.url;
            formSettings.class.value = calendar.class;


            currentCalendar.children.forEach(children => {
                let li = document.createElement('li');
                li.appendChild(document.createTextNode(children.name));
                li.setAttribute('calendarId', children.id);

                let supprimerBtn = document.createElement('button');
                supprimerBtn.type = 'button';
                supprimerBtn.appendChild(document.createTextNode('Supprimer'));
                supprimerBtn.onclick = () => {
                    calendarChildren.splice(calendarChildren.indexOf(children.id), 1);
                    li.remove();

                    let liToAdd = document.createElement('li');
                    liToAdd.appendChild(document.createTextNode(children.name));
                    let ajouterBtn = document.createElement('button');
                    ajouterBtn.appendChild(document.createTextNode('Ajouter'));
                    ajouterBtn.type = 'button';
                    ajouterBtn.onclick = () => {
                        calendarChildren.push(children.id);
                        let liSub = document.createElement('li');
                        liSub.appendChild(document.createTextNode(children.name));
                        liSub.setAttribute('calendarId', children.id);
                        liSub.appendChild(supprimerBtn);
                        document.getElementById('calendarAssociated').appendChild(liSub);
                        liToAdd.remove();
                    };
                    liToAdd.appendChild(ajouterBtn);
                    calendarAssociated_addNew.appendChild(liToAdd);
                };

                li.appendChild(supprimerBtn);
                document.getElementById('calendarAssociated').appendChild(li);
            });

            allCalendars
                .filter(calendar => calendar.id !== currentCalendar.id && !calendarChildren.includes(calendar.id))
                .forEach(calendar => {
                    let li = document.createElement('li');
                    li.appendChild(document.createTextNode(calendar.name));
                    let ajouterBtn = document.createElement('button');
                    ajouterBtn.appendChild(document.createTextNode('Ajouter'));
                    ajouterBtn.type = 'button';
                    ajouterBtn.onclick = () => {
                        if (!calendarChildren.includes(calendar.id)) {
                            calendarChildren.push(calendar.id);
                            let liSub = document.createElement('li');
                            liSub.appendChild(document.createTextNode(calendar.name));
                            liSub.setAttribute('calendarId', calendar.id);

                            let supprimerBtn = document.createElement('button');
                            supprimerBtn.type = 'button';
                            supprimerBtn.appendChild(document.createTextNode('Supprimer'));
                            supprimerBtn.onclick = () => {
                                calendarChildren.splice(calendarChildren.indexOf(calendar.id), 1);
                                liSub.remove();
                                calendarAssociated_addNew.appendChild(li);
                            };
                            liSub.appendChild(supprimerBtn);
                            document.getElementById('calendarAssociated').appendChild(liSub);
                            li.remove();
                        }
                    };
                    li.appendChild(ajouterBtn);
                    calendarAssociated_addNew.appendChild(li);
                });

            //remove calendrier
            btnRemoveCalendar.addEventListener('click', async () => {
                if (confirm('Do you really want to delete this calendar ?')) {
                    console.log(calendar)
                    await removeCalendar(calendar);
                    closeModalSettings();
                    window.location.href = `/users/${user.username}/dashboard`;
                }
            });

        }
        modal.style.display = 'flex';

        formSettings.addEventListener("submit", async (e) => {
            e.preventDefault();

            let data = {
                name: formSettings.name.value,
                color: formSettings.color.value,
                url: formSettings.link.value,
                class: formSettings.class.value,
                childrens: calendarChildren,
                syncExpressionCron: formSettings.synchronisation.value
            };

            try {
                const response = await fetch(`/users/${user.username}/calendars/${currentCalendar.id}`, {
                    method: 'PUT',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({ calendar: data })
                })
                    .then(responses => responses.json())
                    .then(data => {
                        closeModalSettings();
                    })
            } catch (error) {
                console.error(error);
                showErrorMessage(error)
            }

            e.target.reset();
            closeModalSettings();

        });


    };

    const removeCalendar = async (calendar) => {
        console.log(calendar)
        await fetch(`/api/v1/calendar/${calendar.id}`, {
            method: 'DELETE',
            headers: {
                'Content-Type': 'application/json'
            }
        })
    };

    const openModal = async (eventOrDate) => {
        const modal = document.getElementById('eventModal');
        const calendarIdInput = document.getElementById('calendarId');
        const eventIdInput = document.getElementById('eventId');
        const summaryInput = document.getElementById('summary');
        const startDateInput = document.getElementById('startDate');
        const endDateInput = document.getElementById('endDate');
        const descriptionInput = document.getElementById('description');
        const eventForm = document.getElementById('eventForm');
        const eventUserSelection = document.getElementById('eventUserSelection');
        const eventLocation = document.getElementById('location');

        calendarIdInput.value = currentCalendar.id;
        eventIdInput.value = eventOrDate.id || null;
        summaryInput.value = eventOrDate.title || '';
        startDateInput.value = formatDateToDatetimeLocal(eventOrDate.start || new Date(eventOrDate));
        endDateInput.value = formatDateToDatetimeLocal(eventOrDate.end || new Date(eventOrDate));
        eventLocation.value = eventOrDate.extendedProps?.location || '';

        populateCalendarDropdown();

        eventOrDate.extendedProps?.description === undefined ? descriptionInput.placeholder = 'Your description here' : descriptionInput.value = eventOrDate.extendedProps.description;


        modal.style.display = 'flex';
    };

    const closeModal = () => {
        const modal = document.getElementById('eventModal');
        const eventData = document.getElementById('eventForm');

        eventData.reset()
        modal.style.display = 'none';
    };

    const closeModalSettings = () => {
        const modal = document.getElementById('settingsModal');
        const settingsData = document.getElementById('calendarSettings');
        const calendarAssociated = document.getElementById('calendarAssociated');
        const calendarAssociated_addNew = document.getElementById('calendarAssociated__addNew');
        calendarAssociated.innerHTML = '';
        calendarAssociated_addNew.innerHTML = '';

        settingsData.reset()
        modal.style.display = 'none';
    }

    const initializeCalendar = (events, calendarId) => {

        events = events.map(event => ({
            id: event.id,
            title: event.summary,
            start: event.start,
            end: event.end,
            calendarId: event.calendarId,
            description: event.description,
            location: event.location,
            rRule: event.rRule,
            backgroundColor: event.calendarColor ? event.calendarColor : (currentCalendar?.color ? currentCalendar.color : '#378006'),
            borderColor: event.calendarColor ? event.calendarColor : (currentCalendar?.color ? currentCalendar.color : '#378006')
        }));

        const lastView = localStorage.getItem('lastCalendarView') || 'timeGridWeek';

        const calendarEl = document.getElementById('calendar');
        const fullCalendar = new FullCalendar.Calendar(calendarEl, {
            height: 'auto',
            initialView: lastView,
            editable: true,
            selectable: true,
            //timeZone: 'Europe/Zurich',
            firstDay: 1,
            eventClick: info => openModal(info.event),
            eventDrop: info => {
                if (currentCalendar.rights !== 'Write') {
                    info.revert();
                    return;
                }
                updateEvent(info);
            },
            eventResize: info => {
                if (currentCalendar.rights !== 'Write') {
                    info.revert();
                    return;
                }
                updateEvent(info);
            },
            dateClick: info => {
                if (currentCalendar.right === 'Read') return;
                if (clickTimer === null) {
                    clickTimer = setTimeout(() => {
                        clickTimer = null;
                    }, DOUBLE_CLICK_DELAY);
                } else {
                    clearTimeout(clickTimer);
                    clickTimer = null;
                    openModal(info.dateStr);
                }
            },
            select: info => openModal(info),
            events: events
        });

        fullCalendar.render();
        return fullCalendar;
    };

    const subscribeCalendar = async () => {
        if (currentCalendar === undefined) {
            showErrorMessage('No calendar selected');
            return;
        }
        await fetch(`/users/${user.username}/calendars/${currentCalendar.id}/subscribe`, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({ calendarId: currentCalendar.id })
        })
            .then(response => response.json())
            .then(data => {
                showErrorMessage(data.message, 'success');
            })
            .catch(error => {
                console.error(error);
                showErrorMessage(error)
            });
    }


    const unsubscribeCalendar = async () => {
        if (currentCalendar === undefined) {
            showErrorMessage('No calendar selected');
            return;
        }
        const response = await fetch(`/users/${user.username}/calendars/${currentCalendar.id}/unsubscribe`, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({ calendarId: currentCalendar.id })
        })
            .then(response => response.json())
            .then(data => {
                showErrorMessage(data.message, 'success');
            })
            .catch(error => {
                console.error(error);
                showErrorMessage(error)
            });
    }

    const doesEventOverlap = (startDate, endDate) => {
        const start = startDate;
        const end = endDate;

        return events.some(event => {
            const eventStart = event.start;
            const eventEnd = event.end;
            return (start >= eventStart && start < eventEnd) ||
                (end > eventStart && end <= eventEnd) ||
                (start <= eventStart && end >= eventEnd);
        });
    };

    const showErrorMessage = (message, type = "error") => {
        setTimeout(() => {
            divError.textContent = '';
            divError.style.display = 'none';
        }, 10000);
        if (type === "error") {
            divError.style.background = '#FFCCCC';
        } else {
            divError.style.background = "green";
        }
        divError.style.display = 'block';
        divError.textContent = message;
    };

</script>

</html>