<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Yach - <%= title %>
    </title>
</head>

<body>

    <div class="logout">
        <h1>Logout</h1>
        <p>You're now disconnected</p>
    </div>

    <script>
        document.addEventListener('DOMContentLoaded', async () => {

            await fetch('/api/v1/logout', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'authorization': 'Bearer ' + localStorage.getItem('token')
                }
            }).then(res => res.json())
                .then(data => {
                    if (data.token == null) {
                        localStorage.removeItem('token');
                        localStorage.removeItem('username');
                        setTimeout(() => {
                            window.location.replace('/');
                        }, 5000);
                    }
                });
        });
    </script>
</body>

</html>